<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Selamat Datang di Task Manager
          </div>
          <div class="card-body">
            <p class="card-text">Task Manager adalah aplikasi sederhana untuk mengelola tugas Anda.</p>
            <router-link to="/login" class="btn btn-primary mr-2">Login</router-link>
            |
            <router-link to="/register" class="btn btn-success ml-2">Register</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
  
  <script>
  export default {
    // Logika khusus komponen beranda (jika diperlukan)
  };
  </script>
  
  <style scoped>
  /* CSS styling khusus untuk halaman beranda (jika diperlukan) */
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: circle;
    margin-left: 20px;
    font-size: 1.1em;
  }
  
  router-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  router-link:hover {
    background-color: #0056b3;
  }
  </style>
  