<template>
    <div>
        <h1>Halaman Tidak Ditemukan</h1>
        <p>Maaf, halaman yang Anda cari tidak tersedia.</p>
    </div>
</template>

<script>
    export default {
    name: 'NotFound',
};
</script>