<template>
  <div class="alert alert-danger" v-if="errorMessage">
    {{ errorMessage }}
    <button @click="clearError" class="close">&times;</button> <!-- Tombol untuk menghapus pesan kesalahan -->
  </div>
  <div class="container mt-5">
    <h2>Edit Task</h2>
    <form @submit.prevent="updateTask" class="p-4 border rounded shadow">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" v-model="editedTask.title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" v-model="editedTask.description"></textarea>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" v-model="editedTask.status">
          <option value="todo">To Do</option>
          <option value="in-progress">In Progress</option>
          <option value="completed">Completed</option>
        </select>
      </div>
      <div class="form-group">
        <label for="user">Pilih Pelaksana</label>
        <select class="form-control" id="user" v-model="editedTask.user_id">
          <option v-for="user in users" :key="user.id" :value="user.id">{{ user.name }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: ['id'],
  data() {
    return {
      editedTask: {
        title: '',
        description: '',
        status: 'todo', 
        },
      users: {},
      errorMessage: '',
    };
  },
  created() {
    const taskId = this.$route.params.id;
    
    const token = localStorage.getItem('authToken');

    const config = {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    };

    const apiUrl = `http://localhost:8000/api/tasks/${taskId}`;
    axios.get(apiUrl, config)
    .then(response => {
      this.editedTask = response.data;
    })
    .catch(error => {
      console.error(error);
      this.errorMessage = 'Terjadi kesalahan: ' + error.message;
    });

    axios.get("http://localhost:8000/api/users", config)
    .then(response => {
      this.users = response.data;
    })
    .catch(error => {
      console.error('Kesalahan saat mengambil data pengguna', error);
      this.errorMessage = 'Terjadi kesalahan: ' + error.message;
    });
  },
  methods: {
    updateTask() {
      const token = localStorage.getItem('authToken');
      
      const axiosWithToken = axios.create({
        headers: {
          'Authorization': `Bearer ${token}`,
        },
      });

      const apiUrl = `http://localhost:8000/api/tasks/${this.editedTask.id}`;
      
      axiosWithToken.put(apiUrl, this.editedTask)
        .then(response => {
          console.log('Tugas berhasil diperbarui', response.data);
          this.$router.push({ name: 'TaskList' });
        })
        .catch(error => {
          console.error('Gagal memperbarui tugas', error);
          this.errorMessage = 'Terjadi kesalahan: ' + error.response;
        });
    },

    clearError() {
      this.errorMessage = ''; // Membersihkan pesan kesalahan
    },
  },
};
</script>
  
<style scoped>
.form-group {
  margin-bottom: 1rem;
}
</style>
  