<template>
  <div class="alert alert-danger" v-if="errorMessage">
    {{ errorMessage }}
    <button @click="clearError" class="close">&times;</button> <!-- Tombol untuk menghapus pesan kesalahan -->
  </div>
  <div class="container mt-5">
    <h2>New Task</h2>
    <form @submit.prevent="createTask" class="p-4 border rounded shadow">
      <div class="form-group">
        <label for="title">Judul:</label>
        <input type="text" v-model="newTask.title" required class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Deskripsi:</label>
        <textarea v-model="newTask.description" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <select v-model="newTask.status" class="form-control">
          <option value="todo">To Do</option>
          <option value="in-progress">In Progress</option>
          <option value="completed">Completed</option>
        </select>
      </div>
      <div class="form-group">
        <label for="user">Pilih Pelaksana</label>
        <select class="form-control" id="user" v-model="newTask.user_id">
          <option v-for="user in users" :key="user.id" :value="user.id">{{ user.name }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Buat Tugas</button>
    </form>
  </div>
</template>
  
<script>
import axios from 'axios';

export default {
  data() {
    return {
      newTask: {
        title: '',
        description: '',
        status: '',
      },
      users : {},
      errorMessage: '',
    };
  },
  created() {
    const token = localStorage.getItem('authToken');

    const config = {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    };

    axios.get("http://localhost:8000/api/users", config)
    .then(response => {
      this.users = response.data;
    })
    .catch(error => {
      console.error('Kesalahan saat mengambil data pengguna', error);
      this.errorMessage = 'Terjadi kesalahan: ' + error.message;
    });
  },
  methods: {
    createTask() {
      const token = localStorage.getItem('authToken');
      
      const axiosWithToken = axios.create({
        headers: {
          'Authorization': `Bearer ${token}`,
        },
      });

      const apiUrl = 'http://localhost:8000/api/tasks';
      
      axiosWithToken.post(apiUrl, this.newTask)
        .then(response => {
          console.log('Tugas berhasil dibuat', response.data);
          this.$router.push({ name: 'TaskList' });
        })
        .catch(error => {
          console.error('Gagal membuat tugas', error);
          this.errorMessage = 'Terjadi kesalahan: ' + error.message;
        });
    },

    clearError() {
      this.errorMessage = ''; // Membersihkan pesan kesalahan
    },
  },
};
</script>

<style scoped>
.form-group {
  margin-bottom: 1rem;
}
</style>
