<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h2>Daftar Tugas</h2>
        <div class="text-center mt-2 mb-2">
          <button @click="createTask" class="btn btn-success mx-2">Tugas Baru</button>
          <button @click="logout()" class="btn btn-danger mx-2">Logout</button>
        </div>
        <div class="form-group">
          <label for="sort">Urutkan berdasarkan:</label>
          <select id="sort" v-model="selectedSort" @change="fetchSortedTasks">
            <option value="created_at">Tanggal Dibuat</option>
            <option value="status">Status</option>
          </select>
        </div>
        <div class="form-group">
          <label for="filter">Filter berdasarkan Status:</label>
          <select id="filter" v-model="selectedStatus" @change="fetchFilteredTasks">
            <option value="">Semua</option>
            <option value="todo">To Do</option>
            <option value="in-progress">In Progress</option>
            <option value="completed">Completed</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label for="filter">Jumlah data perhalaman:</label>
          <select id="filter" v-model="perPage" @change="fetchPerPage">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Judul</th>
              <th scope="col">Deskripsi</th>
              <th scope="col">Pelaksana</th>
              <th scope="col">Status</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(task, index) in tasks" :key="task.id">
              <td>{{ index + 1 }}</td>
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.user_name }}</td>
              <td>{{ task.status }}</td>
              <td>
                <button @click="editTask(task)" class="btn btn-primary btn-sm mx-2">Edit</button>
                <button @click="deleteTask(index)" class="btn btn-danger btn-sm">Hapus</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <div class="mt-3 d-flex justify-content-center">
          <nav aria-label="Halaman">
            <ul class="pagination">
              <li class="page-item" :class="{ disabled: currentPage === 1 }">
                <a class="page-link" @click="fetchTasks(currentPage - 1)" href="#" aria-label="Sebelumnya">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" v-for="page in totalPages" :key="page" :class="{ active: currentPage === page }">
                <a class="page-link" @click="fetchTasks(page)" href="#">{{ page }}</a>
              </li>
              <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                <a class="page-link" @click="fetchTasks(currentPage + 1)" href="#" aria-label="Berikutnya">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>  
        </div>

        
      </div>
    </div>
  </div>
</template>
  
  <script>
  import axios from 'axios'; 
  
  export default {
    data() {
      return {
        tasks: [],
        usersData: {},
        isLoading: true,
        selectedSort: 'created_at', // Opsi pengurutan default
        selectedStatus: '', // Penyaring status default (kosong untuk semua tugas)
        currentPage: 1, // Halaman aktif
        totalPages: 1, // Jumlah total halaman
        perPage: 10, // Jumlah item per halaman
      };
    },
    created() {
      // Mengambil daftar tugas dari backend saat komponen dibuat
      this.fetchUsers();
      this.fetchTasks();
    },
    methods: {
    async fetchTasks(page = 1) {
      try {
        const token = localStorage.getItem('authToken');

        if (!token) {
          console.error('Token tidak ditemukan');
          return;
        }

        const config = {
          headers: {
            Authorization: `Bearer ${token}`,
          },
          params: {
          sort: this.selectedSort,
          status: this.selectedStatus,
          page, // Parameter halaman
          per_page: this.perPage, // Jumlah item per halaman
          },
        };

        const apiUrl = 'http://localhost:8000/api/tasks';
        const response = await axios.get(apiUrl, config);

        this.tasks = response.data.data.map(task => ({
          ...task,
          user_name: this.usersData[task.user_id], // Mengambil nama pengguna berdasarkan ID pengguna
        }));

        this.currentPage = response.data.current_page; // Mengatur halaman aktif
        this.totalPages = response.data.last_page; // Mengatur jumlah total halaman
        this.isLoading = false;
      } catch (error) {
        console.error('Kesalahan saat mengambil daftar tugas:', error);
      }
    },
    
    async fetchUsers() {
      try {
        const token = localStorage.getItem('authToken');

        const config = {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        };

        const response = await axios.get('http://localhost:8000/api/users', config);
        const users = response.data;

        this.usersData = users.reduce((accumulator, user) => {
          accumulator[user.id] = user.name;
          return accumulator;
        }, {});

      } catch (error) {
        console.error('Kesalahan saat mengambil daftar pengguna:', error);
      }
    },

    fetchSortedTasks() {
      // Ambil tugas dengan opsi pengurutan yang dipilih
      this.fetchTasks();
    },
    
    fetchFilteredTasks() {
      // Ambil tugas dengan penyaringan status yang dipilih
      this.fetchTasks();
    },

    fetchPerPage() {
      // Ambil tugas dengan jumlah per page
      this.fetchTasks();
    },

    editTask(task) {
      // Mengarahkan pengguna ke halaman edit tugas
      this.$router.push({ name: 'TaskEdit', params: { id: task.id} });
    },

    createTask() {
      // Mengarahkan pengguna ke halaman edit tugas
      this.$router.push({ name: 'TaskCreate' });
    },

    deleteTask(index) {
      // Menampilkan dialog konfirmasi sebelum menghapus tugas
      const confirmDelete = window.confirm('Apakah Anda yakin ingin menghapus tugas ini?');

      // Jika pengguna mengkonfirmasi penghapusan, lanjutkan dengan penghapusan
      if (confirmDelete) {
        this.tasks.splice(index, 1);
  
        const taskId = this.tasks[index].id;
  
        console.log(taskId);
  
        const token = localStorage.getItem('authToken');
          
        const axiosWithToken = axios.create({
          headers: {
            'Authorization': `Bearer ${token}`,
          },
        });
  
        const apiUrl = `http://localhost:8000/api/tasks/${taskId}`;
        axiosWithToken.delete(apiUrl)
          .then(response => {
            console.log('Tugas berhasil dihapus', response);
          })
          .catch(error => {
            console.error('Gagal menghapus tugas', error);
          });
        
        this.fetchTasks();
      }
    },

    logout() {
      this.$router.push({ name: 'UserLogout' });
    },
},

  };
  </script>
  