<template>
    <div>
      <h1>Logout</h1>
      <p>Anda yakin ingin keluar?</p>
      <button @click="logout">Logout</button>
    </div>
  </template>
  
  <script>
  export default {
    methods: {
      logout() {
        localStorage.removeItem('authToken');
        this.$router.push({ name: 'UserLogin' });
      },
    },
  };
  </script>
  